<!DOCTYPE html>


<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="../images/icono-estetoscopio.png">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/ubicacion.css">
    <title>Ubicación</title>
</head>


<body>


    <header>

        <div class="header-container">
            <img src="../images/logo-ecomedical.png" alt="logo-ecomedical" class="logo"></img>
            
            <nav class="navegacion-container">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="quienes-somos.html">Quiénes somos</a></li>
                    <li><a href="ubicacion.html">Ubicación</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>

    </header>


    <main>

        <section>
            <div class="ubicacion-contenedor">
                <img alt="Ubicación" src="../images/ubicacion.jpg" class="ubicacion-img"></img>
                <div class="ubicacion-texto-contenedor">
                    <h2>Ubicación:</h2>
                    <p>Calle Boulogne Sur Mer y Río Diamante, Las Heras, Mendoza.</p>
                    <a href="https://maps.app.goo.gl/iKAJ5umpv1mK8jd5A" target="_blank"> <i class="fa-solid fa-location-dot"></i> Ir al mapa</a>
                </div>
            </div>
        </section>

    </main>


    <footer>

        <div class="footer-container">
            <a href="https://www.instagram.com/ecomedical.mendoza/" target="_blank">
            <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/ecomedical.mendoza/?_rdr" target="_blank">
            <i class="fa-brands fa-facebook fa-2x"></i>
            </a>
            <a href="https://wa.me/message/LATYQDMB4OJJK1" target="_blank">
            <i class="fa-brands fa-whatsapp fa-2x"></i>
            </a>
        </div>

        <p class="derechos">&copy; 2024. Todos los derechos reservados. Diseño personal.</p>

    </footer>
    
</body>


</html>